<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1 class="text-primary text-center">Keranjang Belanja</h1>
    <table class="table table-hover-info">
        <thead class="table-primary">
        <tr>
            <th>Produk</th>
            <th>Jumlah</th>
            <th>Subtotal</th>
        </tr>
        </thead>
        {% for item in cart %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.subtotal | rupiah }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">Total</td>
            <td>{{ total | rupiah }}</td>
        </tr>
    </table>
    
    <div class="text-center">
        <a href="{{ url_for('index') }}" class="btn btn-outline-primary">Kembali ke Daftar Produk</a>
    </div>
</body>
</html>
